<div>
    <div>
    <h2>Edit project</h2>
    </div>
    <form name="addProjectForm">
        <div>
            <label for="projectName">Name</label>
            <input type="text" id="projectName" ng-model="project.Name" value="KNG" />
        </div>
        <div class="form-group">
            <label for="projectLeader">Leader</label>
            <select ng-controller="dashboardController" id="projectLeader" ng-model="project.Lead.Id">
                <option value="{{project.Lead.Id}}">{{project.Lead.Username}}</option>
                <option ng-repeat="user in users" value="{{user.Id}}">{{user.Username}}</option>
            </select>
        </div>
        <div>
            <label for="projectPriorities">Priorities (comma separated)</label>
            <input type="text" id="projectPriorities" ng-model="currentPriorities" />
        </div>
        <div>
            <label for="projectLabels">Labels (comma separated)</label>
            <input type="text" id="projectLabels" ng-model="currentLabels" />
        </div>
        <div>
            <label for="projectDescription">Description</label>
            <textarea id="projectDescription" ng-model="project.Description"  required></textarea>
        </div>
        <button ng-disabled="addProjectForm.$invalid" ng-click="editProject(project)">Edit</button>
    </form>
</div>