<div ng-include="'js/users/user-menu/user-menu.html'" id="user-menu"></div>
<div class="login">
    <form name="changePassword">
        <label for="old-password">Old password</label>
        <input type="password"  required="required" ng-model="user.oldPassword" id="old-password" />
        <label for="new-password">Password</label>
        <input type="password" required="required" min-length="6" max-length="100" ng-model="user.newPassword" id="new-password" />
        <label for="new-password-confirm">Confirm new password</label>
        <input type="password" required="required" min-length="6" max-length="100" ng-model="user.confirmNewPassword" id="new-password-confirm" >
        <button ng-disabled="changePassword.$invalid || user.newPassword != user.confirmNewPassword" ng-click="changeUserPassword(user)">Change password</button>
    </form>
</div>