h1{
  font-size: 24px;
  margin: 0px;
}
h3{
  font-size: 18px;
}
body{
  #wrapper{
    width: 960px;
    margin: 15px auto;
    box-shadow: 0 0 10px grey;
    header{
      border-radius: 15px 15px 0 0;
      text-align: center;
      #logo{
        img{
          margin: 15px;
        }
      }
    }
    main{
      article{
        width: 85%;
        text-align: center;
        border-radius: 15px;
        box-shadow: 0 0 10px black;
        margin: 40px auto;
        min-height: 200px;
        header{

        }
        a{
          margin: 0px auto;
          img{

          }

        }
      }
    }
    footer{
      background-color: black;
      min-height: 100px;
      #header-logo{
        text-align: center;
      }
    }
  }
}
nav{
  background-color: black;
  ul{
    text-align: center;
    margin: 5px 5px 0 5px;

    li{
      display: inline-block;
      padding: 12px 30px;
      a{
        text-decoration: none;
        color: white;
        padding: 7px;
        &:hover{
          background-color: white;
          color: black;
          border-radius: 5px;
        }
      }


    }
  }
}
#user-menu{
  ul{
    background: grey;
    text-align: right;
    margin: 0px;
    li{
      display: inline-block;
      padding: 8px 10px;
      text-align: left;
      a{
        background-color: grey;
        text-decoration: none;
        color: white;
        padding: 7px;
        cursor: pointer;
        font-size: 12px;
        &:hover{
          background-color: black;
          color: grey;
          border-radius: 5px;
        }
      }

    }
  }
}
.login{
  width: 40%;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 10px black;
  margin: 40px auto;
  min-height: 200px;
  label{
    width: 90%;
  }
  input{
    width: 90%;
  }
}

