<div id="comments-container">
    <h2>Comments:</h2>
    <div id="prev-comments" ng-repeat="comment in comments">
        <table>
            <tbody>
            <tr><td><div id="author-info">{{comment.Author.Username}} - {{comment.CreatedOn|date}}</div></td></tr>
            <tr><td><div id="comment-text">{{comment.Text}}</div></td></tr>
            </tbody>
        </table>
    </div>
    <div ng-if="isProjectLeader||isAssignee" id="add-comment-field">
        <form action="" name="commentsForm">
            <table>
                <tbody>
                    <tr><td><label for="comment-field">Leave comment:</label></td></tr>
                    <tr><td><textarea ng-model="newComment.text" id="comment-field" minlength="2" placeholder="Type text here" required></textarea></td></tr>
                    <tr><td><button ng-disabled="commentsForm.$invalid" ng-click="addComment(newComment.text)">Comment</button></td></tr>
                </tbody>
            </table>
        </form>
    </div>
</div>