<div ng-include="'js/users/user-menu/user-menu.html'" id="user-menu"></div>

<div ng-if="isLogged" class="user-box">
    <div>
        <h2>Dashboard</h2>
        <a href="#/project/add"><button type="button" ng-if="isAdmin">Add new project</button></a>
        <a href="#/projects"><button type="button" ng-if="isAdmin">All projects</button></a>
        <h3>My lead projects</h3>
        <table class="table">
            <tr ng-repeat="project in projectsWhereLead">
                <td><a href="#projects/{{project.Id}}">{{project.Name}}</a></td>
            </tr>
        </table>
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Project</th>
                <th>Due Date</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="issue in userIssues">
                <td><a href="#issues/{{issue.Id}}">{{issue.Title}}</a></td>
                <td>{{issue.Description}}</td>
                <td><a href="#projects/{{issue.Project.Id}}">{{issue.Project.Name}}</a></td>
                <td>{{issue.DueDate}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
