<div ng-include="'js/users/user-menu/user-menu.html'" id="user-menu"></div>
<div class="login">
    <h1>Login form</h1>
    <form name="loginUserForm">
        <label for="username">Username</label>
        <input type="text" id="username" ng-model="loginUser.username" required>
        <label for="password">Password</label>
        <input type="password" id="password" ng-model="loginUser.password" required>
        <button ng-disabled="loginUserForm.$invalid" ng-click="login(loginUser)">Login</button>
        <button onclick="location.href='#/home'" >Cancel</button>
    </form>
</div>