<div class="user-box">
    <div>
        <h2>Edit issue</h2>
    </div>
    <form name="editIssueForm">
        <div>
            <label for="issueTitle">Title</label>
            <input type="text" id="issueTitle" ng-model="currentIssue.Title" />
        </div>
        <div>
            <label for="issueDescription">Description</label>
            <textarea id="issueDescription" ng-model="currentIssue.Description"></textarea>
        </div>
        <div>
            <label for="issueDueDate">Due date</label>
            <input type="datetime-local" id="issueDueDate" ng-model="currentIssueDueDateLocal" />
        </div>
        <div>
            <label for="issueAssignee">Assignee</label>
            <select ng-controller="dashboardController" id="issueAssignee" ng-model="currentIssue.Assignee.Id">
                <option value="{{currentIssue.Assignee.Id}}">{{currentIssue.Assignee.Username}}</option>
                <option ng-repeat="user in users|orderBy:'Username'" value="{{user.Id}}">{{user.Username}}</option>
            </select>
        </div>
        <div>
            <label for="priorities">Priority</label>
            <select id="priorities" ng-model="issuePriority">
                <option value="">Change priority</option>
                <option ng-repeat="pr in projectPriorities" value="{{pr.Id}}">{{pr.Name}}</option>
            </select>
        </div>
        <div>
            <label for="issueLabels">Labels</label>
            <input type="text" id="issueLabels" ng-model="currentIssueLabels" />
        </div>
        <button ng-click="editIssue()">Edit issue</button>
    </form>
</div>