<div ng-include="'js/users/user-menu/user-menu.html'" id="user-menu"></div>
<div class="user-box">
    <div>
        <h2>Edit issue</h2>
    </div>
    <form name="editIssueForm">
        <table>
            <tbody>
                <tr>
                    <td><label for="issueTitle">Title</label></td>
                    <td><input type="text" id="issueTitle" ng-model="currentIssue.Title" /></td>
                </tr>
                <tr>
                    <td><label for="issueDescription">Description</label></td>
                    <td><textarea id="issueDescription" ng-model="currentIssue.Description"></textarea></td>
                </tr>
                <tr>
                    <td><label for="issueDueDate">Due date</label></td>
                    <td><input type="datetime-local" id="issueDueDate" ng-model="currentIssueDueDateLocal" /></td>
                </tr>
                <tr>
                    <td><label for="issueAssignee">Assignee</label></td>
                    <td><select ng-controller="dashboardController" id="issueAssignee" ng-model="currentIssue.Assignee.Id">
                        <option value="{{currentIssue.Assignee.Id}}">{{currentIssue.Assignee.Username}}</option>
                        <option ng-repeat="user in users|orderBy:'Username'" value="{{user.Id}}">{{user.Username}}</option>
                    </select></td>
                </tr>
                <tr>
                    <td><label for="priorities">Priority</label></td>
                    <td><select id="priorities" ng-model="issuePriority">
                        <option value="">Change priority</option>
                        <option ng-repeat="pr in projectPriorities" value="{{pr.Id}}">{{pr.Name}}</option>
                    </select></td>
                </tr>
                <tr>
                    <td><label for="issueLabels">Labels</label></td>
                    <td><input type="text" id="issueLabels" ng-model="currentIssueLabels" /></td>
                </tr>
                <td><button ng-click="editIssue()">Edit issue</button></td>
            </tbody>
        </table>
    </form>
</div>