<div ng-include="'js/users/user-menu/user-menu.html'" id="user-menu"></div>
<div class="user-box">
    <div>
        <table>
            <tbody>
                <tr><td><h2>{{project.ProjectKey}}</h2></td></tr>
                <tr><td><a ng-if="isAdmin ||isProjectLeader" href="#projects/edit/{{project.Id}}">Edit</a>
                <a ng-if="isAdmin ||isProjectLeader" href="#projects/add-issue/{{project.Id}}">Add Issue</a></td></tr>
                <tr><td>Project key: {{project.ProjectKey}}</td></tr>
                <tr><td><strong>Name:</strong> {{project.Name}}</td></tr>
                <tr><td><strong>Description:</strong> {{project.Description}}</td></tr>
                <tr><td><strong>LeadId:</strong> ({{project.Lead.Id}}) {{project.Lead.Username}}</td></tr>
                <tr><td>Labels: <span ng-repeat="label in project.Labels">{{label.Name}}{{$last ? '' : ', '}}</span></td></tr>
                <tr><td>Priorities: <span ng-repeat="priority in project.Priorities">{{priority.Name}}{{$last ? '' : ', '}}</span></td></tr>
            </tbody>
        </table>
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Due Date</th>
                <th>Assignee</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="issue in projectIssues">
                <td><a href="#issues/{{issue.Id}}">{{issue.Title}}</a></td>
                <td>{{issue.Description}}</td>
                <td>{{issue.DueDate}}</td>
                <td>{{issue.Assignee.Username}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>