<div ng-include="'js/users/user-menu/user-menu.html'" id="user-menu"></div>
<div class="user-box">
    <div>
        <h2>New project</h2>
    </div>
    <form name="addProjectForm">
        <table>
            <tbody>
                <tr>
                    <td><label for="projectName">Name</label></td>
                    <td><input type="text" id="projectName" ng-model="project.name" placeholder="name" required /></td>
                </tr>
                <tr>
                    <td><label for="projectLeader">Leader</label></td>
                    <td><select ng-controller="dashboardController" id="projectLeader" ng-model="project.leadId">
                        <option value="">Project leader</option>
                        <option ng-repeat="user in users|orderBy:'Username'" value="{{user.Id}}">{{user.Username}}</option>
                    </select></td>
                </tr>
                <tr>
                    <td><label for="projectKey">Project key</label></td>
                    <td><input type="text" id="projectKey" ng-model="project.key" placeholder="key" required /></td>
                </tr>
                <tr>
                    <td><label for="projectPriorities">Priorities (comma separated)</label></td>
                    <td><input type="text" id="projectPriorities" ng-model="project.priorities" placeholder="priorities" /></td>
                </tr>
                <tr>
                    <td><label for="projectLabels">Labels (comma separated)</label></td>
                    <td><input type="text" id="projectLabels" ng-model="project.labels" placeholder="labels" /></td>
                </tr>
                <tr>
                    <td><label for="projectDescription">Description</label></td>
                    <td><textarea id="projectDescription" ng-model="project.description" placeholder="description" required></textarea></td>
                </tr>
                <tr><td><button ng-disabled="addProjectForm.$invalid" ng-click="addProject(project)">Add project</button></td></tr>
            </tbody>
        </table>
    </form>
</div>