<div>
    <div class="col-md-5">
        <h2>Users</h2>
    </div>
    <div class="col-md-7">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Username</th>
                <th>Is Admin</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users">
                <td>{{user.Username}}</td>
                <td>{{user.isAdmin}}</td>
                <td ng-if="!user.isAdmin"><button ng-click="makeAdmin(user.Id)">Make admin</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>